/* ------------ GOOGLE FONTS ------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Bebas+Neue&family=Roboto:wght@300;400;700&family=Teko:wght@300;400;600&display=swap');

/* ------------ VARIABLES ------------ */
:root{
  /* FONT */
  --font: 'Poppins', sans-serif;

  /* COLORS */
  --color: #9176FF;
  --bg-color: #f4f4f4;
}

/* ------------ BASE ------------ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: var(--bg-color);
}

/* ----------- SLIDER ------------ */
.swiper{
  width: 110%;
}

.swiper-wrapper{
  width: 110%;
  height: 35em;
  display: flex;
  align-items: center;
}

.card{
  height: 25rem;
    width: 18rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2em rgba(0, 0, 0, .2);
  padding: 2em 1em;

  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0 2em;
}

.swiper-slide:not(.swiper-slide-active){
  filter: blur(1px);
}

.card__content{
  
  display: flex;
  flex-direction: column;
  margin-top: -30px;
}

.card__title {
  font-family: 'Teko', sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: relative;
  top: .2em;
  opacity: 0.9;
  text-transform: none; 
}

.card__text {  
  font-size: 1.1rem;
  margin: 1em 0 0.5em 15px; 
  font-family: 'Teko', sans-serif;
  opacity: 0.5;
  text-align: left;
}

.card__btn {
  position: absolute;
  bottom: 30px; 
  left: 20px;
  color: rgba(255, 0, 0, 0.9);
  font-size: 1rem;
  text-transform: none;
  font-weight: 600;
  border: none;
  background: none;
  padding: .5em;
  border-radius: .5em;
  cursor: pointer;
  font-family: 'Teko', sans-serif;
}

.card__text, .card__title, .card__name {
  margin-left: 15px; 
  text-align: left;
}

.chat-icon {
            width: 90px;
            height: 90px;
            background: red;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            top: -20px;
            right: -20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            font-size: 20px;
            font-weight: bold;
        }

.stars {
    color: #ffff;
    font-size: 30px;
    margin-bottom: 15px;
    background: #132941;
    width: 113%;
    padding: 8px 15px; 
    border-radius: 5px 5px 0 0;  
    position: relative;
    top: -33px; 
    padding-left: 30px;
    letter-spacing: 4px;
}

.star {
    width: 30px;
    height: 30px;
}